body{
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
}

#tabella-bottone{
    position: relative;
    z-index: 1;
    align-content: center;
    width:fit-content;
    margin-left: 3%;
    margin-top: 10%;
    margin-bottom: 0%;
}

.titoletti{
    color: white;
    font-size: 400%;
    text-shadow: 0px 0px 8px white;
    padding-top: 50px;
    transition-duration: 0.4s;
    padding-bottom: 5px;
}
.titoletti:hover{
    font-size: 450%;
    color: rgb(49, 211, 0);
    text-shadow: 0px 0px 20px rgb(49, 211, 0);
    padding-bottom: 50px;
}
.titoletti:hover .ciao1{
    color:white;
}


.bottoni-download{
    color: white;
    font-size:200%;
    margin-bottom: 10%;
    width: 40%;
    border-radius: 20px;
    background-color: rgb(17, 17, 17);
    border-color: transparent;
    box-shadow: 0px 0px 8px white;
    transition-duration: 0.4s;
}
.bottoni-download:hover{
    width: 75%;
    border-radius: 30px;
    background-color: rgb(49, 211, 0);
    box-shadow: 0px 0px 20px rgb(49, 211, 0);
    text-shadow: 0px 0px 8px black;
}

.img1{
    height: 25%;
    position: absolute;
    right: -100%;
    margin-top: 7%;
    margin-bottom: 0%;
    padding-top: 65px;
    z-index: 2;
    transition-duration: 0.6s;
}
.img2{
    height: 25%;
    position: absolute;
    right: -100%;
    margin-top: 20%;
    margin-bottom: 0%;
    padding-top: 65px;
    z-index: 2;
    transition-duration: 0.6s;
}
.img3{
    height: 25%;
    position: absolute;
    right: -100%;
    margin-top: 35%;
    margin-bottom: 0%;
    padding-top: 65px;
    z-index: 2;
    transition-duration: 0.6s;
}